:root {
    --names-pokemon-color: chartreuse;
}


.Cards {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;

}

.container-pokemon {
    background-color: magenta;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 6px solid magenta;
    place-items: center;
    gap: 5px;

}

img {
    max-width: 50%;
    height: auto;
    display: block;
    border: 1px solid saddlebrown;
    border-radius: 100%;
    background-color: rgba(245, 245, 241, 0.861);
    padding: 1rem;
}

.show-names {
    color: green;
}

.hide-names {
    color: black;
}



@media (max-width: 700px) {
    .container-pokemon {
        display: grid;
        background-color: magenta;
        grid-template-columns: repeat(2, 1fr);


    }
}