.Cards {
    padding: 10;
    background-color: black;
}

.container-pokemon {
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid magenta;
    margin: auto;

}

img {
    width: 35%;
    border: 1px solid gold;
}

@media (max-width: 700px) {
    .container-pokemon {
        display: grid;
        background-color: black;
        grid-template-columns: repeat(2, 1fr);

    }
}