.Cards {
    padding: 10;
    background-color: black;
}


.container {
    width: 80%;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid magenta;
    margin: auto;

}

img {
    width: 35%;
    border: 1px solid gold;
}