/* * {
    background-color: bisque;
}


.container {
    background-color: aqua;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid magenta;


}

img {
    margin: 12px;
    width: 200px;
    border: 1px solid salmon;
} */