* {
    background-color: bisque;
}


.container {
    background-color: aqua;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid magenta;
    gap: 2rem;
    justify-content: space-around;
    flex-direction: row;
    width: 1000px;
}

img {
    width: 50%;
    border: 1px solid salmon;
}